<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <param name="/use_sim_time" value="true" />
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find turtlebot_slam)/view.vcg" />
  
  <node pkg="stage" type="stageros" name="stageros" args="$(find turtlebot_slam)/world/swarmlab_single_turtle.world" respawn="false">
  	<param name="base_watchdog_timeout" value=".2"/>
  </node>  
  <include file="$(find turtlebot_slam)/move_base_config/move_base.xml" />

  <!-- Gmapping package configuration! -->
  <node pkg="gmapping" type="slam_gmapping" name="gmapping" args="scan:=base_scan">
  	<param name="odom_frame" value="odom"/>
    <param name="map_update_interval" value="5.0"/>
    <param name="maxUrange" value="3.2"/>
    <param name="maxRange" value="10.0" />
    <param name="sigma" value="0.05"/>
    <param name="kernelSize" value="1"/>
    <param name="lstep" value="0.05"/>
    <param name="astep" value="0.05"/>
    <param name="iterations" value="5"/>
    <param name="lsigma" value="0.075"/>
    <param name="ogain" value="3.0"/>
    <param name="lskip" value="0"/>
    <param name="srr" value="0.01"/>
    <param name="srt" value="0.02"/>
    <param name="str" value="0.01"/>
    <param name="stt" value="0.02"/>
    <param name="linearUpdate" value="0.25"/>
    <param name="angularUpdate" value="0.25"/>
    <param name="temporalUpdate" value="10.0"/>
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles" value="60"/>

    <param name="delta" value="0.05"/>
    <param name="llsamplerange" value="0.01"/>
    <param name="llsamplestep" value="0.01"/>
    <param name="lasamplerange" value="0.005"/>
    <param name="lasamplestep" value="0.005"/>
  </node>
  <!-- The implementation of the frontier detection and navigation -->
  <node pkg="turtlebot_slam" type="turtlebot_exploration" name="turtlebot_slam" output="screen" />
  <node pkg="slam_navigation" type="slam_navigation" name="slam_navigation" output="screen" />
</launch>
