<launch>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find turtlebot_slam)/view.vcg" />
  <node pkg="stage" type="stageros" name="stageros" args="$(find turtlebot_slam)/world/swarmlab_single_turtle.world" respawn="false">
  	<param name="base_watchdog_timeout" value="1."/>
  </node>
  <node pkg="gmapping" type="slam_gmapping" name="gmapping" args="scan:=base_scan">
  	  
  	  <param name="delta" value="0.1" />
  </node>
  <node pkg="turtlebot_slam" type="turtlebot_exploration" name="turtlebot_exploration" />
</launch>
