<launch>
<!-- 
Example move_base configuration. Descriptions of parameters, as well as a full list of all amcl parameters, can be found at http://www.ros.org/wiki/move_base.
-->
	<param name="/move_base_node/NavfnROS/visualize_potential" value="true" />
	<param name="/move_base_node/NavfnROS/default_tolerance" value="0.5" />
	<node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
	<rosparam file="$(find turtlebot_slam)/move_base_config/costmap_common_params.yaml" command="load" ns="global_costmap" />
	<rosparam file="$(find turtlebot_slam)/move_base_config/costmap_common_params.yaml" command="load" ns="local_costmap" />
	<rosparam file="$(find turtlebot_slam)/move_base_config/local_costmap_params.yaml" command="load" />
	<rosparam file="$(find turtlebot_slam)/move_base_config/global_costmap_params.yaml" command="load" />
	<rosparam file="$(find turtlebot_slam)/move_base_config/base_local_planner_params.yaml" command="load" />
<!--
<rosparam file="$(find navigation_stage)/move_base_config/dwa_local_planner_params.yaml" command="load" />
-->
</node>
</launch>